html 
{
    height: 100%;
}

nav
{
    padding-top: 0.05%;
    padding: 5px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

body 
{
    color: rgb(34, 34, 34);
    font-family: arial, sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

main
{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navText
{
    width: 55px;
    padding-top: 13px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#navIcons
{
    width: 34px;
    height: 34px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.mainLogo
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchContainer 
{
    position: relative;
    padding: 0;
    margin: 0;
}

#searchIcon
{
    position: absolute;
    bottom: 10px;
    left: 8px;
    width: 16px;
    height: 16px;
}

#searchInput
{
    height: 36px;
    width: 35em;
    margin: 0;
    padding-left: 30px;
    border-radius: 30px;
    border: 1px solid rgb(170, 170, 172)

}

footer
{
    background-color:#f2f2f2;
    padding-top: 0.05%;
    padding: 5px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#footerTextLeft
{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#footerTextRight
{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#footerLink
{
    padding: 10px;
}