html 
{
    height: 100%;
}

nav
{
    color: rgb(34, 34, 34);
    font-family: arial, sans-serif;
    font-size: 14px;
    padding-top: 0%;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

body 
{
    color: rgb(34, 34, 34);
    font-family: arial, sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.mainLogo
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchContainer 
{
    position: relative;
    padding: 0;
    margin: 0;
}

#searchIcon
{
    position: absolute;
    bottom: 10px;
    left: 8px;
    width: 16px;
    height: 16px;
}

#searchInput
{
    height: 36px;
    width: 100%;
    margin: 0;
    padding-left: 30px;
    border-radius: 30px;
    border: 1px solid rgb(170, 170, 172)

}